.toggleVisibility1{
    font-size: 22px; 
    color: #267b58;
}
.btn-toggle-visibility1{
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.btn-empty{
	background: none; 
}
.table{
  cursor:pointer;
}