<template>
  <b-container>
    <div id="regs-content">
      <b-modal id="modal_form" ref='modal_form' :title="modal.form_action==1 ? modal.add_title : modal.edit_title" @ok="try_form()" @cancel="">
        <b-form-input @keyup.enter.native="try_form()" v-model="forms.main.name" 
          type="text"
          :placeholder="name_prop" 
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal>
      <b-modal id="modalB_form" :title="modal.formB_action==1 ? modal.addB_title : modal.editB_title" @ok="try_formB()" @cancel="">
        <b-form-input v-model="selected_row.area_a_name"
          type="text" 
          :disabled='true'
          style="margin-top:10px;"
        ></b-form-input> 
        <b-form-input @keyup.enter.native="try_formB()" v-model="forms.mainB.name"
          type="text"
          :placeholder="nameB_prop" 
          :disabled="selected_row.area_a==null" 
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal>
      <b-modal id="modalC_form" :title="modal.formC_action==1 ? modal.addC_title : modal.editC_title" @ok="try_formC()" @cancel="">
        <b-form-input v-model="selected_row.area_b_name"
          type="text" 
          :disabled='true'
          style="margin-top:10px;"
        ></b-form-input> 
        <b-form-input @keyup.enter.native="try_formC()" v-model="forms.mainC.name"
          type="text"
          :placeholder="nameC_prop" 
          :disabled="selected_row.area_b==null" 
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal>
      <b-container> 
        <b-row class="text-center">
            <b-col md="4"> 
              <table class="table table-hover">
                <thead>
                  <th>#</th>
                  <th>{{name_prop}}</th> 
                  <th>
                    <b-button 
                      class="btn btn-light" 
                      v-b-modal="'modal_form'" 
                      @click="add()"
                      >
                      Nuevo
                    </b-button>
                  </th>
                </thead> 
                <tbody v-if="lists.length>0">
                  <tr v-for="(item,index) in lists" @click='sel(item)' :class="{area_a_sel:selected_row.area_a && item._id==selected_row.area_a._id}">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td> 
                    <td>
                      <b-button class="btn btn-primary" variant="primary" v-b-modal="'modal_form'" @click="edit(item)" >
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                      </b-button>
                      <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="4">
                      No registra {{name_prop.toLowerCase()+'s'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col> 
            <b-col md="4">
              <table class="table table-hover">
                <thead>
                  <th>#</th>
                  <th>{{nameB_prop}}</th> 
                  <th>
                    <b-button 
                      class="btn btn-light" 
                      v-b-modal="'modalB_form'" 
                      @click="addB()"
                      >
                      Nuevo
                    </b-button>
                  </th>
                </thead> 
                <tbody v-if="listsB.length>0">
                  <tr v-for="(item,index) in listsB" @click='selB(item)' :class="{area_b_sel:selected_row.area_b && item._id==selected_row.area_b._id}">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td> 
                    <td>
                      <b-button class="btn btn-primary" variant="primary" v-b-modal="'modalB_form'" @click="editB(item)" >
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                      </b-button>
                      <b-button class="btn btn-primary" variant="danger" @click="delB(item._id)">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="4">
                      No registra {{nameB_prop.toLowerCase()+'s'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col>
            <b-col md="4">
              <table class="table table-hover">
                <thead>
                  <th>#</th>
                  <th>{{nameC_prop}}</th> 
                  <th>
                    <b-button 
                      class="btn btn-light" 
                      v-b-modal="'modalC_form'" 
                      @click="addC()"
                      >
                      Nuevo
                    </b-button>
                  </th>
                </thead> 
                <tbody v-if="listsC.length>0">
                  <tr v-for="(item,index) in listsC">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td> 
                    <td>
                      <b-button class="btn btn-primary" variant="primary" v-b-modal="'modalC_form'" @click="editC(item)" >
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                      </b-button>
                      <b-button class="btn btn-primary" variant="danger" @click="delC(item._id)">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="4">
                      No registra {{nameC_prop.toLowerCase()+'s'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col>
        </b-row>
      </b-container>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Areas',
  data () {
    return {
      name_prop:"Departamento",
      nameB_prop:"Provincia",
      nameC_prop:"Distrito", 
      msg: 'Listado de departamentos',
      msgB: 'Listado de provincias',
      msgC: 'Listado de distritos',
      lists:[ 
      ], 
      listsB:[ 
      ], 
      listsC:[ 
      ], 
      item_selected:null,
      itemB_selected:null,
      itemC_selected:null,
      modal:{
        add_title:"Nuevo Departamento",
        edit_title:"Detalle de Departamento", 
        form_action:1,//1:nuevo, 0: edit
        addB_title:"Nueva Provincia",
        editB_title:"Detalle de Provincia", 
        formB_action:1,//1:nuevo, 0: edit
        addC_title:"Nuevo Distrito",
        editC_title:"Detalle de Distrito", 
        formC_action:1,//1:nuevo, 0: edit
      },
      forms:{
        main:{
          name:'', 
        },
        mainB:{
          name:'', 
        },
        mainC:{
          name:'', 
        }
      },
      selected_row:{
        area_a:null,
        area_b:null,
        area_c:null,
        area_a_name:'',
        area_b_name:'',
        area_c_name:'',
      },
    }
  },
  mounted:function(){
    if(!this.validateSession()){
      window.location.assign("#/login");
    }else{ 
      this.getLists();
    }
  },
  methods:{ 
    validateSession:function(){
      var session = localStorage.getItem("session");
      if(session && session!="")return true;
      return false;
    },
    try_form:function(){
      var _this = this;  
      this.axios({
        url:url_server_area_a+(_this.modal.form_action==1 ? '':('/'+_this.item_selected._id)),
        method:(_this.modal.form_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.main.name, 
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.form_action==1){
            _this.$swal(
              'Nuevo',
              'El Departamento ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El Departamento ha sido editado.',
              'success'
            );
          }
          _this.getLists();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formB_action==1){
          _tt = 'Nuevo';
          _msg = 'El Departamento no ha sido creado.';
        }else{
          _msg = 'El Departamento no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El departamento ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        ); 
      }); 
    },
    try_formB:function(){
      var _this = this;  
      this.axios({
        url:url_server_area_b+(_this.modal.formB_action==1 ? '':('/'+_this.itemB_selected._id)),
        method:(_this.modal.formB_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.mainB.name, 
          area_a_id:_this.selected_row.area_a._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.formB_action==1){
            _this.$swal(
              'Nuevo',
              'La provincia ha sido creada.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'La provincia ha sido editada.',
              'success'
            );
          }
          _this.getListsB();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formB_action==1){
          _tt = 'Nuevo';
          _msg = 'La provincia no ha sido creada.';
        }else{
          _msg = 'La provincia no ha sido editada.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'La provincia ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        );
      }); 
    },
    try_formC:function(){
      var _this = this;  
      this.axios({
        url:url_server_area_c+(_this.modal.formC_action==1 ? '':('/'+_this.itemC_selected._id)),
        method:(_this.modal.formC_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.mainC.name, 
          area_b_id:_this.selected_row.area_b._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.formC_action==1){
            _this.$swal(
              'Nuevo',
              'El distrito ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El distrito ha sido editado.',
              'success'
            );
          }
          _this.getListsC();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formC_action==1){
          _tt = 'Nuevo';
          _msg = 'El distrito no ha sido creado.';
        }else{
          _msg = 'El distrito no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El distrito ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        );
      }); 
    },
    getLists:function(){
      var _this = this;
      this.selected_row.area_a = null;
      this.selected_row.area_b = null;
      this.selected_row.area_c = null;
      this.axios.get(url_server_area_a,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    getListsB:function(){
      var _this = this;
      if(!this.selected_row.area_a)return; 
      this.selected_row.area_b = null;
      this.selected_row.area_c = null;
      _this.listsC.splice(0,_this.listsC.length);
      this.axios.get(url_server_area_b,{ 
        params:{
          area_a_id:this.selected_row.area_a._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.listsB = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    getListsC:function(){
      var _this = this;
      if(!this.selected_row.area_b)return;  
      this.selected_row.area_c = null;
      this.axios.get(url_server_area_c,{ 
        params:{
          area_b_id:this.selected_row.area_b._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.listsC = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    sel:function(item){
      this.selected_row.area_a = item;
      this.selected_row.area_a_name = item.name;
      this.getListsB();
    },
    selB:function(item){
      this.selected_row.area_b = item;
      this.selected_row.area_b_name = item.name;
      this.getListsC();
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = '';  
    },
    addB:function(){ 
      this.modal.formB_action=1;
      this.forms.mainB.name = '';  
    },
    addC:function(){ 
      this.modal.formC_action=1;
      this.forms.mainC.name = '';  
    },
    edit:function(item){
      this.modal.form_action=0; 
      this.forms.main.name = item.name;  
      this.item_selected = item;
    },
    editB:function(item){
      this.modal.formB_action=0; 
      this.forms.mainB.name = item.name;  
      this.itemB_selected = item;
    },
    editC:function(item){
      this.modal.formC_action=0; 
      this.forms.mainC.name = item.name;  
      this.itemC_selected = item;
    },
    delB:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_area_b+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'La provincia ha sido eliminado.',
                  'success'
                );
                _this.getListsB();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar la provincia.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  );
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
    delC:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_area_c+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El distrito ha sido eliminado.',
                  'success'
                );
                _this.getListsB();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar el distrito.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  );
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_area_a+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El departamento ha sido eliminado.',
                  'success'
                );
                _this.getLists();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar el departamento.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  ); 
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
.table-hover tbody tr.area_a_sel{
  background:#fff4a8;
}
.table-hover tbody tr.area_b_sel{
  background:#ffd6a3;
}
.table-hover tbody tr.area_c_sel{
  background:#ff44a8;
}
</style>
