<template>
  <b-container>
    <div id="clients-content">
      <b-modal id="modal_client" v-model='modal.client' :title="modal.form_action==1 ? modal.add_title : modal.edit_title" @ok="try_form()" size='lg'>
 
        <div class="i-form" style="max-width: 200px">
          <label>Personería:</label>
          <b-form-select  
            v-model="forms.main.personality.selected" 
            :options="forms.main.personality.options" 
            class="mb-3"
            />
        </div> 
        <div class="i-form">
          <label>Nombre:</label>
          <b-form-input v-model="forms.main.name"
            type="text"
            placeholder="Tus nombres"  
          ></b-form-input>
        </div>
        <b-row>
          <b-col md="6" v-if="forms.main.personality.selected=='NATURAL'">
            <div class="i-form">
              <label>Ap Paterno:</label>
              <b-form-input v-model="forms.main.last_name"
                type="text"
                placeholder="Tu apellido paterno" 
              ></b-form-input>
            </div>
          </b-col>
          <b-col md="6" v-if="forms.main.personality.selected=='NATURAL'">
            <div class="i-form">
              <label>Ap Materno:</label>
              <b-form-input v-model="forms.main.mother_last_name"
                type="text"
                placeholder="Tu apellido materno" 
              ></b-form-input> 
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6">
            <div class="i-form">
              <label>Tipo Doc:</label>
              <b-form-select  
                v-model="forms.main.doc_type.selected" 
                :options="forms.main.doc_type.options" 
                class="mb-3"
                />
            </div>
          </b-col>
          <b-col md="6">
            <div class="i-form">
              <label>Documento:</label>
              <b-form-input v-model="forms.main.document"
                type="text"
                placeholder="Documento" 
              ></b-form-input>
            </div>
          </b-col>
        </b-row> 
          <b-col md="4">
            
            <b-form-group id="cg_birthday"
                      label="Aniversario/Cumpleaños:"
                      label-for="c_birthday">
              <b-input-group prepend="">
                <b-input-group-prepend> 
                  <b-btn variant="danger" v-b-tooltip title="Sin fecha" @click="forms.main.birthday.value=''">
                    <font-awesome-icon icon="times"></font-awesome-icon>
                  </b-btn>
                </b-input-group-prepend>
                <date-picker ref="birthdayDate"
                  v-model="forms.main.birthday.value" 
                  :config="forms.main.birthday.options"
                  @dp-hide="birthday_hide" 
                  @dp-change="birthday_change" 
                  placeholder='Sin Fecha' 
                  ></date-picker> 
                <b-input-group-append> 
                  <b-btn variant="primary" v-b-tooltip title="">
                    <font-awesome-icon icon="birthday-cake"></font-awesome-icon>
                  </b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group> 
          </b-col>
          <b-col md="6"> 
          </b-col>
        </b-row> 
        <b-row>
          <b-col>
            <b-form-textarea 
                 v-model="forms.main.description"
                 placeholder="Detalle adicional"
                 :rows="3"
                 :max-rows="6">
              </b-form-textarea>
          </b-col>
        </b-row>
        
        
        <br /> 
          <b-button variant='empty' class="btn-toggle-visibility1" @click='status.contact.selected=!status.contact.selected'>
            <font-awesome-icon class='toggleVisibility1' :icon="status.contact.selected ? 'arrow-circle-down':'arrow-circle-right'"></font-awesome-icon>
            Listado de Contactos
          </b-button>
          <b-button size="md" variant="primary" v-b-modal.modal_contact @click="addContact()" v-if='status.contact.selected'>
            <font-awesome-icon icon="plus"></font-awesome-icon>
          </b-button>
          <b-button size="md" variant="sync1" @click="getContactLists()" v-if='status.contact.selected'>
            <font-awesome-icon icon="sync"></font-awesome-icon>
          </b-button>
          <label v-if='status.contact.selected'>{{forms.main.contact.sync.msg}}</label> 
        <div class='content-contact-table' v-if='status.contact.selected'>
          <table class="table table-hover">
            <thead>
              <th>#</th>
              <th>Nombre</th>
              <th>Ap Paterno</th>
              <th>Ap Materno</th>
              <th>&nbsp;</th>
            </thead>
            <tbody v-if="contacts.lists.length>0">
              <tr v-for="(contact,index) in contacts.lists">
                <td>{{index+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.last_name}}</td>
                <td>{{contact.mother_last_name}}</td>
                <td style='min-width: 100px;'>
                  <b-button variant='primary' @click='editContact(contact)'>
                    <font-awesome-icon icon="edit"></font-awesome-icon>
                  </b-button> 
                  <b-button variant='danger' @click='delContact(contact)'>
                    <font-awesome-icon icon="times"></font-awesome-icon>
                  </b-button>
                </td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td colspan="5">No existe contactos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </b-modal>
      <b-modal id="modal_contact" v-model="modal.contact" :title="modal.form_contact_action==1 ? modal.add_contact_title : modal.edit_contact_title" @ok="try_contact_form()" size='lg' @cancel='modal.client=true;'>
          <b-container>
            <b-row>
                <b-col sm='12' md='4'>
                  <b-form-group id="cg_name"
                    label="Nombres:"
                    label-for="c_name">
                    <b-form-input id="c_name"
                                  type="text"
                                  v-model="forms.main.contact.name"
                                  required
                                  placeholder="Nombre">
                    </b-form-input>
                  </b-form-group>
                  <b-form-group id="cg_last_name"
                            label="Ap Paterno:"
                            label-for="c_last_name">
                    <b-form-input id="c_last_name"
                                  type="text"
                                  v-model="forms.main.contact.last_name"
                                  required
                                  placeholder="Ap. paterno">
                    </b-form-input> 
                  </b-form-group>
                  <b-form-group id="cg_mother_last_name"
                            label="Ap Materno:"
                            label-for="c_mother_last_name">
                    <b-form-input id="c_mother_last_name"
                                  type="text"
                                  v-model="forms.main.contact.mother_last_name"
                                  required
                                  placeholder="Ap. materno">
                    </b-form-input> 
                  </b-form-group>
                </b-col>
                <b-col sm='12' md='4'>
                  <b-form-group id="cg_sex"
                                label="Sexo:"
                                label-for="c_sex">
                    <b-form-select id="c_sex"
                                  :options="forms.main.contact.sex.options"
                                  required
                                  v-model="forms.main.contact.sex.selected">
                    </b-form-select>
                  </b-form-group>
                  <b-form-group id="cg_doc_type"
                        label="Tipo Doc:"
                        label-for="c_doc_type">
                    <b-form-select id="c_doc_type"
                                  :options="forms.main.contact.doc_type.options"
                                  required
                                  v-model="forms.main.contact.doc_type.selected">
                    </b-form-select>
                  </b-form-group>
                  <b-form-group id="cg_document"
                            label="Documento:"
                            label-for="c_document">
                    <b-form-input id="c_document"
                                  type="text"
                                  v-model="forms.main.contact.document"
                                  required
                                  placeholder="Documento">
                    </b-form-input> 
                  </b-form-group>
                </b-col>
                <b-col sm='12' md='4'>
                  <b-form-group id="cg_phone1"
                            label="Teléfono 1:"
                            label-for="c_phone1">
                    <b-input-group prepend="">
                      <b-form-input id="c_phone1"
                                    type="text"
                                    v-model="forms.main.contact.phone1"
                                    required
                                    placeholder="Teléfono 1"></b-form-input>
                      <b-input-group-append> 
                        <b-btn variant="phone" v-b-tooltip title="Llamar" @click="callTo(1)">
                          <font-awesome-icon icon="phone"></font-awesome-icon>
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group id="cg_phone2"
                            label="Teléfono 2:"
                            label-for="c_phone2">
                    <b-input-group prepend="">
                      <b-form-input id="c_phone2"
                                    type="text"
                                    v-model="forms.main.contact.phone2"
                                    required
                                    placeholder="Teléfono 2"></b-form-input>
                      <b-input-group-append> 
                        <b-btn variant="phone" v-b-tooltip title="Llamar" @click="callTo(2)">
                          <font-awesome-icon icon="phone"></font-awesome-icon>
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group> 
                </b-col>  
                <b-col sm='12' md='6'>
                  <b-form-group id="cg_email1"
                            label="Email 1:"
                            label-for="c_email1">
                    <b-input-group prepend="">
                      <b-input-group-prepend> 
                        <b-btn :variant="forms.main.contact.email1_active ? 'email-active':'email-inactive'" v-b-tooltip :title="forms.main.contact.email1_active ? 'Activo':'Inactivo'" @click="forms.main.contact.email1_active=!forms.main.contact.email1_active">
                          <font-awesome-icon :icon="forms.main.contact.email1_active ? 'check':'circle'"></font-awesome-icon>
                        </b-btn>
                      </b-input-group-prepend>
                      <b-form-input id="c_email1"
                                    type="email"
                                    v-model="forms.main.contact.email1"
                                    required
                                    placeholder="email@example.org"></b-form-input>
                      <b-input-group-append> 
                        <b-btn variant="danger" v-b-tooltip title="Enviar correo" @click="mailTo(1)">
                          <font-awesome-icon icon="envelope"></font-awesome-icon>
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group> 
                </b-col> 
                <b-col sm='12' md='6'>
                  <b-form-group id="cg_email2"
                            label="Email 2:"
                            label-for="c_email2">
                    <b-input-group prepend="">
                      <b-input-group-prepend> 
                        <b-btn :variant="forms.main.contact.email2_active ? 'email-active':'email-inactive'" v-b-tooltip :title="forms.main.contact.email2_active ? 'Activo':'Inactivo'" @click="forms.main.contact.email2_active=!forms.main.contact.email2_active">
                          <font-awesome-icon :icon="forms.main.contact.email2_active ? 'check':'circle'"></font-awesome-icon>
                        </b-btn>
                      </b-input-group-prepend>
                      <b-form-input id="c_email2"
                                    type="email"
                                    v-model="forms.main.contact.email2"
                                    required
                                    placeholder="email@example.org"></b-form-input>
                      <b-input-group-append> 
                        <b-btn variant="danger" v-b-tooltip title="Enviar correo" @click="mailTo(2)">
                          <font-awesome-icon icon="envelope"></font-awesome-icon>
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col> 
            </b-row>
            <b-row>
              <b-col>
                <b-form-textarea 
                     v-model="forms.main.contact.description"
                     placeholder="Detalle adicional"
                     :rows="3"
                     :max-rows="6">
                  </b-form-textarea>
              </b-col>
            </b-row>
          </b-container>
          
          
      </b-modal>
      <div style="padding-top: 10px;"></div>
      <h5>Listado de Clientes</h5>
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Client</th>
          <th>Documento</th>
          <th>
            <b-button 
              class="btn btn-light" 
              v-b-modal="'modal_client'" 
              @click="add()"
              >
              Nuevo
            </b-button>
          </th>
        </thead>
        <tbody v-if="lists.length>0">
          <tr v-for="(item,index) in lists">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.document}}</td>
            <td>
              <b-button class="btn btn-primary" variant="primary" @click="edit(item)" v-b-modal="'modal_client'">
                <font-awesome-icon icon="edit"></font-awesome-icon>
              </b-button>
              <b-button class="btn btn-primary" variant="danger" @click="del(item)">
                <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="4">
              No registra clientes
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Clients',
  data () {
    return {
      status:{
        contact:{
          lists:'arrow-circle-down',
          lists_open:'arrow-circle-down',
          lists_close:'arrow-circle-right',
          selected:true,/*true: open, false:close*/
        },
      },
      msg: 'Listado de usuarios',
      lists:[ 
      ],
      contacts:{
        lists:[],
      },
      item_selected:null,
      contact_selected:null,
      modal:{
        add_title:"Nuevo cliente",
        edit_title:"Detalles de cliente",
        form_title:"Nuevo cliente",
        form_action:1,//1:nuevo, 0: edit
        add_contact_title:"Nuevo contacto",
        edit_contact_title:"Detalles de contacto", 
        form_contact_action:1,//1:nuevo, 0: edit
        contact:false,
        client:false,
      },
      forms:{
        main:{
          contact:{
            description:'',
            name:'',
            last_name:'',
            mother_last_name:'',
            sex:{
              options:[
                {text:'Seleccionar',value:''},
                {text:'MASCULINO',value:'MASCULINO'},
                {text:'FEMENINO',value:'FEMENINO'},
              ],
              selected:'MASCULINO',
            },
            doc_type:{
              options:[
                {text:'Seleccionar',value:''},
                {text:'DNI',value:'DNI'},
                {text:'RUC',value:'RUC'},
              ],
              selected:'DNI',
            },
            document:'',
            phone1:'',
            phone2:'',
            email1:'',
            email2:'',
            email1_active:false,
            email2_active:false,
            sync:{
              msg:'',
            },
          },
          birthday:{
            value:'',
            options:{
              format: 'DD/MM/YYYY',
              useCurrent: true,
              defaultDate: '',//new Date()
              icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check',
                clear: 'fa fa-trash-alt',
                close: 'fa fa-times-circle'
              } 
            },
          },
          description:'',
          name:'',
          last_name:'',
          mother_last_name:'',
          doc_type:{
            options:[
              {text:'Seleccionar',value:''},
              {text:'DNI',value:'DNI'},
              {text:'RUC',value:'RUC'},
            ],
            selected:'RUC',
          },
          personality:{
            options:[
              {text:'Seleccionar',value:''},
              {text:'NATURAL',value:'NATURAL'},
              {text:'JURIDICA',value:'JURIDICA'},
            ],
            selected:'NATURAL',
          },
          document:'',
        }
      }
    }
  },
  mounted:function(){ 
    if(!this.validateSession()){
      window.location.assign("#/login");
    }else{
      this.getLists();
    }

  },
  methods:{
    birthday_hide:function(new_val,old_val){},
    birthday_change:function(new_val,old_val){},
    callTo:function(pos){
      if(pos==1)window.open("tel://"+this.forms.main.contact.phone1,"_blank");
      if(pos==2)window.open("tel://"+this.forms.main.contact.phone2,"_blank");
    },
    mailTo:function(pos){
      if(pos==1)window.open("mailto:"+this.forms.main.contact.email1,"_blank");
      if(pos==2)window.open("mailto:"+this.forms.main.contact.email2,"_blank");
    },
    addContact:function(){
      this.modal.form_contact_action=1;
      this.contact_selected=null;
      this.forms.main.contact.name = '';
      this.forms.main.contact.last_name = '';
      this.forms.main.contact.mother_last_name = '';
      this.forms.main.contact.sex.selected = 'MASCULINO';
      this.forms.main.contact.doc_type.selected = 'DNI';
      this.forms.main.contact.document = '';
      this.forms.main.contact.phone1 = '';
      this.forms.main.contact.phone2 = '';
      this.forms.main.contact.email1 = '';
      this.forms.main.contact.email2 = '';
      this.forms.main.contact.email1_active = false;
      this.forms.main.contact.email2_active = false;
      this.forms.main.contact.description = '';
    },
    editContact:function(contact){
      this.contact_selected = contact;
      this.modal.form_contact_action = 0; 
      this.modal.contact = true;
      this.forms.main.contact.name = contact.name ? contact.name : '';
      this.forms.main.contact.last_name = contact.last_name ? contact.last_name : '';
      this.forms.main.contact.mother_last_name = contact.mother_last_name ? contact.mother_last_name : '';
      this.forms.main.contact.sex.selected = contact.sex && contact.sex!=''  ? contact.sex : 'MASCULINO';
      this.forms.main.contact.doc_type.selected = contact.doc_type && contact.doc_type=='' ? contact.doc_type : 'DNI';
      this.forms.main.contact.document = contact.document ? contact.document : '';
      this.forms.main.contact.phone1 = contact.phone1 ? contact.phone1 : '';
      this.forms.main.contact.phone2 = contact.phone2 ? contact.phone2 : '';
      this.forms.main.contact.email1 = contact.email1 ? contact.email1 : '';
      this.forms.main.contact.email2 = contact.email2 ? contact.email2 : '';
      this.forms.main.contact.email1_active = typeof contact.email1_active=='boolean' ? contact.email1_active : false;
      this.forms.main.contact.email2_active = typeof contact.email2_active=='boolean' ? contact.email2_active : false;
      this.forms.main.contact.description = contact.description ? contact.description : '';
    },
    delContact:function(contact){
      var _this = this;
      this.$swal({
        title: 'Eliminar contacto',
        text: 'No se podrá recuperar el registro del contacto: '+contact.name,
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          console.log("eliminando: ",contact);
          var _data = {
            id:contact._id,
            client_id: this.item_selected._id, 
          }; 

          this.axios.delete(url_server_clients_contacts,{ 
            params:_data,
            headers:{
              'x-access-token':localStorage.getItem("session"),
            },
          }).then(
            function(response){
              console.log(response); 
              _this.modal.client = true;
              _this.$swal(
                'Notificación',
                'Contacto eliminado.',
                'success'
              );
              _this.getContactLists();
            }
          ).catch(function(err){
            console.log(err);
            console.log(err.response);  
            _this.modal.client = true;
            
            _this.$swal(
              'Notificación',
              'No se pudo eliminar el contacto.',
              'warning'
            );
          });

        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          );
        }
      });
    }, 
    validateSession:function(){
      var session = localStorage.getItem("session");
      if(session && session!="")return true;
      return false;
    },
    try_contact_form:function(){
      var _this = this;
      if(!this.item_selected){
        _this.$swal(
          'Contacto',
          'Seleccione un cliente.',
          'warning'
        );
        return;
      }
      if(this.modal.form_contact_action===1){
        this.axios.post(url_server_clients_contacts,{
          client_id: this.item_selected._id,
          name: _this.forms.main.contact.name,
          last_name: _this.forms.main.contact.last_name,
          mother_last_name: _this.forms.main.contact.mother_last_name,
          sex: _this.forms.main.contact.sex.selected, 
          doc_type: _this.forms.main.contact.doc_type.selected, 
          document: _this.forms.main.contact.document,
          phone1: _this.forms.main.contact.phone1,
          phone2: _this.forms.main.contact.phone2,
          email1: _this.forms.main.contact.email1,
          email2: _this.forms.main.contact.email2,
          email1_active: _this.forms.main.contact.email1_active,
          email2_active: _this.forms.main.contact.email2_active,
          description: _this.forms.main.contact.description,
        },{ 
          headers:{
            'x-access-token':localStorage.getItem("session"),
          },
        }).then(
          function(response){
            console.log(response); 
            _this.modal.client = true;
            _this.$swal(
              'Notificación',
              'Contacto creado.',
              'success'
            )
            _this.getContactLists();
            _this.modal.client = true;
          }
        ).catch(function(err){
          console.log(err);
          console.log(err.response); 
          _this.modal.contact = true;
          if(err.response.data){
            var msg = ''
            if(err.response.data.message=='error-duplicate-key'){
              msg = 'El documento ya existe.';
            }else if(err.response.data.message=='invalid-token'){
              window.location.assign("#/login");
            }else{}
            _this.$swal(
              'Notificación',
              'No se pudo crear el contacto. '+(msg!='' ? ('Mensaje: '+msg) : ''),
              'warning'
            ); 
          }  
        }); 
      }else{
        var _this = this;
        var _data = {
          _id: this.contact_selected._id,
          client_id: this.item_selected._id,
          name: _this.forms.main.contact.name,
          last_name: _this.forms.main.contact.last_name,
          mother_last_name: _this.forms.main.contact.mother_last_name,
          doc_type: _this.forms.main.contact.doc_type.selected, 
          document: _this.forms.main.contact.document,
          phone1: _this.forms.main.contact.phone1,
          phone2: _this.forms.main.contact.phone2,
          email1: _this.forms.main.contact.email1,
          email2: _this.forms.main.contact.email2,
          email1_active: _this.forms.main.contact.email1_active,
          email2_active: _this.forms.main.contact.email2_active,
          description: _this.forms.main.contact.description,
        }; 
        jQuery.ajax({ 
            url: url_server_clients_contacts,
            type: 'PUT', 
            headers:{
              'x-access-token':localStorage.getItem("session"),
            },
            dataType:'json',
            contentType:'application/json',
            data:JSON.stringify(_data), 
            success: function(res, status ,xhr){
              console.log(res,status,xhr);
              _this.$swal(
                'Editado!',
                'El contacto ha sido editado.',
                'success'
              );
              _this.getContactLists();
              _this.modal.client = true;
            },
            error: function (responseData, textStatus, errorThrown) {
              console.log(responseData,textStatus,errorThrown);
                if(
                  responseData && 
                  responseData.responseJSON && 
                  responseData.responseJSON.message=="invalid-token"
                ){
                  window.location.assign("#/login");
                }
                _this.$swal(
                  'Notificación',
                  'Error al intentar editar el registro seleccionado.',
                  'error'
                );
              _this.modal.client = true;
            },
            complete: function() { 
            }
        });  
      }
    },
    try_form:function(){
      var _this = this;
      if(this.modal.form_action===1){
        this.axios.post(url_server_clients,{
          name: _this.forms.main.name,
          last_name: _this.forms.main.last_name,
          mother_last_name: _this.forms.main.mother_last_name,
          doc_type: _this.forms.main.doc_type.selected,
          personality: _this.forms.main.personality.selected,
          document: _this.forms.main.document,
          description: _this.forms.main.description,
          birthday: _this.forms.main.birthday.value,
        },{ 
          headers:{
            'x-access-token':localStorage.getItem("session"),
          },
        }).then(
          function(response){
            console.log(response); 
            _this.getLists();
          }
        ).catch(function(err){
          console.log(err);
          console.log(err.response);
          if(err.response.data){
            if(err.response.data.message=='invalid-token'){
              window.location.assign("#/login");
            }
          } 
        }); 
      }else{
        var _this = this;
        var _data = {
          name: _this.forms.main.name,
          last_name: _this.forms.main.last_name,
          mother_last_name: _this.forms.main.mother_last_name,
          doc_type: _this.forms.main.doc_type.selected,
          personality: _this.forms.main.personality.selected,
          document: _this.forms.main.document, 
          description: _this.forms.main.description,
          birthday: _this.forms.main.birthday.value,
        }; 
        jQuery.ajax({ 
            url: url_server_clients+`/${this.item_selected._id}`,
            type: 'PUT', 
            headers:{
              'x-access-token':localStorage.getItem("session"),
            },
            dataType:'json',
            contentType:'application/json',
            data:JSON.stringify(_data), 
            success: function(res, status ,xhr){
              console.log(res,status,xhr);
              _this.$swal(
                'Editado!',
                'El registro ha sido editado.',
                'success'
              );
              _this.getLists();
            },
            error: function (responseData, textStatus, errorThrown) {
              console.log(responseData,textStatus,errorThrown);
                if(
                  responseData && 
                  responseData.responseJSON && 
                  responseData.responseJSON.message=="invalid-token"
                ){
                  window.location.assign("#/login");
                }
                _this.$swal(
                  'Notificación',
                  'Error al intentar editar el registro seleccionado.',
                  'error'
                ) 
            },
            complete: function() { 

            }
        });  
      }
    },
    getLists:function(){
      var _this = this;
      this.axios.get(url_server_clients,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          if(!response.data.success){
            _this.lists = response.data;
          }
          console.log(response); 
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        if(err.response.data){
          if(err.response.data.message=='invalid-token'){
            window.location.assign("#/login");
          }
        } 
        //window.location.assign("#/login");
      }); 
    },
    getContactLists:function(){
      var _this = this;
      if(!this.item_selected){
        this.forms.main.contact.sync.msg ='Seleccione un cliente';
        return;
      }
      this.forms.main.contact.sync.msg ='Espere porfavor...';
      this.axios.get(url_server_clients_contacts,{
        params:{
          client_id:this.item_selected._id,
        }, 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          if(!response.data.success){
            _this.contacts.lists = response.data;
          }
          console.log(response); 
          _this.forms.main.contact.sync.msg ='Listo.';
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        _this.forms.main.contact.sync.msg ='Error.';
        if(err.response.data){
          if(err.response.data.message=='invalid-token'){
            window.location.assign("#/login");
          }
        } 
      }); 
    },
    isIsoDate:function(str){
      return /^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z$/.test(str);
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = ''; 
      this.forms.main.last_name = ''; 
      this.forms.main.mother_last_name = ''; 
      this.forms.main.doc_type.selected = ''; 
      this.forms.main.personality.selected = 'NATURAL'; 
      this.forms.main.document = ''; 
      this.forms.main.description = ''; 
      this.forms.main.birthday.value = ''; 
      this.contacts.lists = [];
    },
    edit:function(item){
      console.log(item);
      this.modal.form_action=0; 
      this.forms.main.name = item.name ? item.name : ''; 
      this.forms.main.last_name = item.last_name ? item.last_name : ''; 
      this.forms.main.mother_last_name = item.mother_last_name ? item.mother_last_name : ''; 
      this.forms.main.doc_type.selected = item.doc_type ? item.doc_type : ''; 
      this.forms.main.personality.selected = item.personality ? item.personality : ''; 
      this.forms.main.document = item.document ? item.document : ''; 
      this.forms.main.description = item.description ? item.description : ''; 
      this.forms.main.birthday.value = item.birthday && item.birthday!='' && this.isIsoDate(item.birthday) ? momentjs(item.birthday.split("T")[0],"YYYY-MM-DD").format("DD/MM/YYYY") : ''; 
      this.item_selected = item;
      this.getContactLists();
    },
    del:function(item){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro del cliente: '+item.name,
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          console.log("eliminando: ",item);
          var _data = {
            id:item._id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_clients+`/${item._id}`,
              type: 'DELETE', 
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El registro ha sido eliminado.',
                  'success'
                )
                _this.getLists();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  
                  if(
                    responseData && 
                    responseData.responseJSON && 
                    responseData.responseJSON.message=="invalid-token"
                  ){
                    window.location.assign("#/login");
                  }
                  _this.$swal(
                    'Notificación',
                    'Error al intentar eliminar el registro seleccionado.',
                    'error'
                  ) 
              },
              complete: function() { 

              }
          });  
        // For more information about handling dismissals please visit
        // https://sweetalert2.github.io/#handling-dismissals
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
  watch:{
    'forms.main.personality.selected':function(new_val,old_val){ 
      if(new_val=='NATURAL'){
        this.forms.main.doc_type.selected = 'RUC';
      }
    }, 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.i-form{
  width: 100%;
  text-align: left;
  padding-top: 10px;
}
.table{
  text-align: center;
}
.btn-sync1{
  background: #a7c549;
  color: white;
}
.content-contact-table{
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}
.btn-phone{
  background: #5bc717;
  color: white;
}

.btn-email-active{
  background: #28a745;
  color: white;
}
.btn-email-inactive{
  background: rgb(159, 243, 178);
  color: white;
}

</style>
