<template>
  <b-container>
    <div id="login-content">  
      <b-modal 
      v-model="modal.login" 
      id="modal_form" 
      :title="modal.login_title" 
      :no-close-on-backdrop="true" 
      ok-only 
      :no-fade="false" 
      :no-close-on-esc="true"  
      @ok="try_form()">
        <b-form-input v-model="forms.login.email"
          type="text"
          placeholder="Tu email" 
          style="margin-top:10px;"
        ></b-form-input>
        <b-form-input v-model="forms.login.password"
          type="password"
          placeholder="Tu contraseña"
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal>
    </div>
    <h3>{{msg}}</h3>
    <b-button @click="modal.login=true" v-if="forms.login.btn.show">Iniciar sesión</b-button>
  </b-container>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      modal:{
        login:true,
        login_title:'Iniciar sesión',
      },
      msg: 'Inicio de sesión', 
      forms:{
        login:{
          email:'',
          password:'', 
          btn:{
            show:true,
          },
        },
      },
    };
  },
  mounted:function(){
    this.$parent.navbar_visible = false;
  },
  methods:{
    try_form:function(){
      
      var _this = this;
      var _data = {
        email: _this.forms.login.email,
        password: _this.forms.login.password, 
      }; 
      jQuery.ajax({ 
          url: url_server_login,
          headers:{
            'x-access-token':localStorage.getItem("session"),
          },
          type: 'POST', 
          dataType:'json',
          contentType:'application/json',
          data:JSON.stringify(_data), 
          success: function(res, status ,xhr){
            console.log(res,status,xhr);
            if(res.success){
              _this.$swal(
                'Bienvenido!',
                'Puede continuar.',
                'success'
              );
              localStorage.setItem("session",res.token);
              _this.$parent.navbar_visible = true;
              _this.msg="Panel de Administración";
              _this.forms.login.btn.show = false;
              window.location.assign("#/home");
            }else{
              _this.$swal(
                'Notificación',
                'No pudimos identificarlo.',
                'warning'
              );
              localStorage.removeItem("session");
              _this.modal.login = true;
            }
          },
          error: function (responseData, textStatus, errorThrown) {
            console.log(responseData,textStatus,errorThrown);
              var _msg = 'Error al intentar iniciar sesión.';
              if(
                responseData && 
                responseData.responseJSON && 
                responseData.responseJSON.message=="email-not-found" 
              ){
                _msg = 'El email ingresado no existe.';
              }
              _this.$swal(
                'Notificación',
                _msg,
                'error'
              );
              localStorage.removeItem("session");
               _this.modal.login = true;
          },
          complete: function() { 

          }
      }); 
    },  
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
