<template>
  <b-container>
    <div id="reg-content">
      <b-modal 
        id="modal_form" 
        :title="modal.form_action==1 ? modal.add_title: modal.edit_title" 
        @ok="try_form()"
        @cancel=''
        >
        <b-form-input v-model="forms.main.name" 
        @keyup.enter.native="try_form()"
          type="text"
          placeholder="" 
          style="margin-top:10px;"
        ></b-form-input> 
        <br />
        <color-picker v-model='forms.main.colors' @input="selectedColor"></color-picker>
      </b-modal>
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Estado de cupón</th> 
          <th>Color</th> 
          <th>Creado</th> 
          <th>Actualizado</th> 
          <th>
            <b-button 
              class="btn btn-light" 
              v-b-modal="'modal_form'" 
              @click="add()"
              >
              Nuevo
            </b-button>
          </th>
        </thead>
        <tbody v-if="lists.length>0">
          <tr v-for="(item,index) in lists">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td> 
            <td>
              <b-btn :style="{background:item.color,color:'#dedede'}">
                <font-awesome-icon icon='palette'></font-awesome-icon>
              </b-btn>
            </td> 
            <td>{{item.created_at | moment('DD/MM/YYYY h:m:s')}}</td> 
            <td>{{item.updated_at | moment('DD/MM/YYYY h:m:s')}}</td> 
            <td>
              <b-button class="btn btn-primary" variant="primary" @click="edit(item)" v-b-modal="'modal_form'">
                <font-awesome-icon icon="edit"></font-awesome-icon>
              </b-button>
              <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="5">
              Sin registros
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </b-container>
</template>

<script>
import { Sketch } from 'vue-color'
export default {
  name: 'PolicyVehStatusQuota',
  components:{
    'color-picker': Sketch
  },
  data () {
    return {
      msg: 'Listado de estado de cuotas de pólizas vehiculares',
      lists:[ 
      ], 
      item_selected:null,
      modal:{
        add_title:"Nuevo registro",
        edit_title:"Editar registro", 
        form_action:1,//1:nuevo, 0: edit
      },
      forms:{
        main:{
          name:'', 
          colors:'#194d33', 
          selected_color:'#ffffff',
        }
      }
    }
  },
  mounted:function(){
    if(!this.validateSession()){
      window.location.assign("#/login");
    }else{ 
      this.getLists();
    }
  },
  methods:{ 
    selectedColor:function(color){ 
      this.forms.main.selected_color = color.hex;
    },
    validateSession:function(){
      var session = localStorage.getItem("session");
      if(session && session!="")return true;
      return false;
    },
    try_form:function(){
      var _this = this;  
      this.axios({
        url:url_server_policy_veh_status_quota+(_this.modal.form_action==1 ? '':('/'+_this.item_selected._id)),
        method:(_this.modal.form_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.main.name, 
          color: _this.forms.main.selected_color, 
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.form_action==1){
            _this.$swal(
              'Nuevo',
              'El registro ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El registro ha sido editado.',
              'success'
            );
          }
          _this.getLists();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.form_action==1){
          _tt = 'Nuevo';
          _msg = 'El registro no ha sido creado.';
        }else{
          _msg = 'El registro no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El registro ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        ); 
      }); 
    },
    getLists:function(){
      var _this = this;
      this.axios.get(url_server_policy_veh_status_quota,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = '';  
    },
    edit:function(item){
      this.modal.form_action=0; 
      this.forms.main.name = item.name;   
      this.forms.main.selected_color = item.color;   
      this.item_selected = item;
    },
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_policy_veh_status_quota+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El registro ha sido eliminado.',
                  'success'
                );
                _this.getLists();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  
                  if(
                    responseData && 
                    responseData.responseJSON && 
                    responseData.responseJSON.message=="invalid-token"
                  ){
                    window.location.assign("#/login");
                  }
                  _this.$swal(
                    'Notificación',
                    'Error al intentar eliminar el registro seleccionado.',
                    'error'
                  ) 
              },
              complete: function() { 

              }
          });  
        // For more information about handling dismissals please visit
        // https://sweetalert2.github.io/#handling-dismissals
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
</style>
