<template>
  <b-container>
    <div id="reg-content">
      <b-modal 
        id="modal_form" 
        :title="modal.form_action==1 ? modal.add_title: modal.edit_title" 
        @ok="try_form()"
        @cancel=''
        >
        <b-form-group label="Rol">
          <b-form-input v-model="forms.main.name" 
          @keyup.enter.native="try_form()"
            type="text"
            placeholder="" 
            style="margin-top:10px;"
          ></b-form-input> 
        </b-form-group>
        <div role="tablist">
                      <b>Permisos:</b><br>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion1 variant="accordion-rol">Clientes</b-btn>
            </b-card-header>
            <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
              <b-card-body> 
                <p class="card-text">
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.clients.allSelected"
                                       :indeterminate="forms.main.permissions.clients.indeterminate" 
                                       @change="toggleAllPermissionsClients"
                       >
                        {{ forms.main.permissions.clients.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.clients.selected" 
                                           :options="forms.main.permissions.clients.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion2 variant="accordion-rol">Usuarios</b-btn>
            </b-card-header>
            <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.users.allSelected"
                                       :indeterminate="forms.main.permissions.users.indeterminate" 
                                       @change="toggleAllPermissionsUsers"
                       >
                        {{ forms.main.permissions.users.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.users.selected" 
                                           :options="forms.main.permissions.users.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion3 variant="accordion-rol">Usuarios Roles</b-btn>
            </b-card-header>
            <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.users.roles.allSelected"
                                       :indeterminate="forms.main.permissions.users.roles.indeterminate" 
                                       @change="toggleAllPermissionsUsersRoles"
                       >
                        {{ forms.main.permissions.users.roles.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.users.roles.selected" 
                                           :options="forms.main.permissions.users.roles.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion4 variant="accordion-rol">Usuarios Areas</b-btn>
            </b-card-header>
            <b-collapse id="accordion4" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.users.areas.allSelected"
                                       :indeterminate="forms.main.permissions.users.areas.indeterminate" 
                                       @change="toggleAllPermissionsUsersAreas"
                       >
                        {{ forms.main.permissions.users.areas.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.users.areas.selected" 
                                           :options="forms.main.permissions.users.areas.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion5 variant="accordion-rol">Areas</b-btn>
            </b-card-header>
            <b-collapse id="accordion5" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.areas.allSelected"
                                       :indeterminate="forms.main.permissions.areas.indeterminate" 
                                       @change="toggleAllPermissionsAreas"
                       >
                        {{ forms.main.permissions.areas.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.areas.selected" 
                                           :options="forms.main.permissions.areas.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion6 variant="accordion-rol">Tipo de Documentos</b-btn>
            </b-card-header>
            <b-collapse id="accordion6" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.doc_types.allSelected"
                                       :indeterminate="forms.main.permissions.doc_types.indeterminate" 
                                       @change="toggleAllPermissionsDocTypes"
                       >
                        {{ forms.main.permissions.doc_types.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.doc_types.selected" 
                                           :options="forms.main.permissions.doc_types.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion7 variant="accordion-rol">Estado Civil</b-btn>
            </b-card-header>
            <b-collapse id="accordion7" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.civil_status.allSelected"
                                       :indeterminate="forms.main.permissions.civil_status.indeterminate" 
                                       @change="toggleAllPermissionsCivilStatus"
                       >
                        {{ forms.main.permissions.civil_status.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.civil_status.selected" 
                                           :options="forms.main.permissions.civil_status.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-btn block v-b-toggle.accordion8 variant="accordion-rol">Vehículos</b-btn>
            </b-card-header>
            <b-collapse id="accordion8" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <p class="card-text"> 
                  <b-form-group>
                    <template slot="label">
                      <b-form-checkbox v-model="forms.main.permissions.vehicle.allSelected"
                                       :indeterminate="forms.main.permissions.vehicle.indeterminate" 
                                       @change="toggleAllPermissionsVehicle"
                       >
                        {{ forms.main.permissions.vehicle.allSelected ? 'Deseleccionar todo' : 'Seleccionar todo' }}
                       </b-form-checkbox>
                    </template>
                    <b-form-checkbox-group 
                                           stacked
                                           v-model="forms.main.permissions.vehicle.selected" 
                                           :options="forms.main.permissions.vehicle.options"
                                           class="ml-4" 
                    ></b-form-checkbox-group>
                  </b-form-group>
                </p>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
        
      </b-modal>
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Rol de Usuario</th> 
          <th>Creado</th> 
          <th>Actualizado</th> 
          <th>
            <b-button 
              class="btn btn-light" 
              v-b-modal="'modal_form'" 
              @click="add()"
              >
              Nuevo
            </b-button>
          </th>
        </thead>
        <tbody v-if="lists.length>0">
          <tr v-for="(item,index) in lists">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td> 
            <td>{{item.created_at | moment('DD/MM/YYYY h:m:s')}}</td> 
            <td>{{item.updated_at | moment('DD/MM/YYYY h:m:s')}}</td> 
            <td>
              <b-button class="btn btn-primary" variant="primary" @click="edit(item)" v-b-modal="'modal_form'">
                <font-awesome-icon icon="edit"></font-awesome-icon>
              </b-button>
              <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="5">
              Sin registros
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'UserRol',
  data () {

    var _action = [
      ['Modificar','EDIT'],
      ['Listar','LIST'],
      ['Eliminar','DELETE'],
      ['Exportar Excel','EXPORT_XLS'],
      ['Importar Excel','IMPORT_XLS'],
      ['Exportar PDF','EXPORT_PDF'],
      ['Importar PDF','IMPORT_PDF'],
      ['Crear PDF','CREATE_PDF'],
      ['Emitir','EMIT'],
      ['Anular','CANCEL'], 
    ];

    var _modules = [ 
      ['clients','CLIENT'],
      ['areas','AREA'],
      ['doc_types','DOC_TYPE'],
      ['civil_status','CIVIL_STATUS'],
      ['vehicle','VEHICLE'],
      ['vehicle_class','VEHICLE_CLASS'],
      ['vehicle_use','VEHICLE_USE'],
      ['vehicle_prov_gps','VEHICLE_PROV_GPS'],
      ['vehicle_conces','VEHICLE_CONCES'],
      ['vehicle_prod','VEHICLE_PROD'],
      ['vehicle_end','POLICY_END'],
      ['insurance_carrier','INSURANCE_CARRIER'],
      ['policy_veh_cover','POLICY_VEH_COVER'],
      ['policy_veh_status_quota','POLICY_VEH_STATUS_QUOTA'],
      ['policy_veh_reason_cancel','POLICY_VEH_REASON_CANCEL'],
      ['policy_health_status_quota','POLICY_HEALTH_STATUS_QUOTA'],
      ['policy_health_reason_cancel','POLICY_HEALTH_REASON_CANCEL'], 
    ];
 
    var _permission_users_options_values = _action.map(function(data){
                                return 'USER_'+data[1];
                              });
    var _permission_users_options = _action.map(function(data){
                                return {text:data[0],value:'USER_'+data[1]}
                              });
    var _permission_users_roles_options_values = _action.map(function(data){
                                return 'USER_ROL_'+data[1];
                              });
    var _permission_users_roles_options = _action.map(function(data){
                                return {text:data[0],value:'USER_ROL_'+data[1]}
                              });
    var _permission_users_areas_options_values = _action.map(function(data){
                                return 'USER_AREA_'+data[1];
                              });
    var _permission_users_areas_options = _action.map(function(data){
                                return {text:data[0],value:'USER_AREA_'+data[1]}
                              }); 

    var _maps = _modules.map(function(data){
      var _key    = data[0];
      var _label  = data[1];
      var _options_values = _action.map(function(data2){
        return _label+'_'+data2[1];
      });
      var _options = _action.map(function(data2){
        return {text:data2[0],value:_label+'_'+data2[1]};
      });

      return [
        _key,{
          allSelected: false,
          indeterminate: false,
          selected:[],
          options_values:_options_values, 
          options:_options,
        }
      ];
    });

    var _permissions = {
            users:{
              allSelected: false,
              indeterminate: false,
              selected:[],
              options_values:_permission_users_options_values, 
              options:_permission_users_options,
              roles:{
                allSelected: false,
                indeterminate: false,
                selected:[],
                options_values:_permission_users_roles_options_values, 
                options:_permission_users_roles_options,
              },
              areas:{
                allSelected: false,
                indeterminate: false,
                selected:[],
                options_values:_permission_users_areas_options_values, 
                options:_permission_users_areas_options,
              },
            }, 
          };

    for(var idx in _maps){
      var _map = _maps[idx];
      _permissions[_map[0]] = _map[1];
    } 

    return {
      msg: 'Listado de roles de usuarios',
      lists:[ 
      ], 
      item_selected:null,
      modal:{
        add_title:"Nuevo registro",
        edit_title:"Detalle de registro", 
        form_action:1,//1:nuevo, 0: edit
      },
      forms:{
        main:{
          name:'', 
          permissions:_permissions,
        }
      }
    }
  },
  mounted:function(){
    if(!this.validateSession()){
      window.location.assign("#/login");
    }else{ 
      this.getLists();
    }
  },
  watch: {
    'forms.main.permissions.users.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.users.indeterminate = false
        this.forms.main.permissions.users.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.users.options_values.length) {
        this.forms.main.permissions.users.indeterminate = false
        this.forms.main.permissions.users.allSelected = true
      } else {
        this.forms.main.permissions.users.indeterminate = true
        this.forms.main.permissions.users.allSelected = false
      }
    },
    'forms.main.permissions.users.roles.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.users.roles.indeterminate = false
        this.forms.main.permissions.users.roles.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.users.roles.options_values.length) {
        this.forms.main.permissions.users.roles.indeterminate = false
        this.forms.main.permissions.users.roles.allSelected = true
      } else {
        this.forms.main.permissions.users.roles.indeterminate = true
        this.forms.main.permissions.users.roles.allSelected = false
      }
    },
    'forms.main.permissions.users.areas.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.users.areas.indeterminate = false
        this.forms.main.permissions.users.areas.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.users.areas.options_values.length) {
        this.forms.main.permissions.users.areas.indeterminate = false
        this.forms.main.permissions.users.areas.allSelected = true
      } else {
        this.forms.main.permissions.users.areas.indeterminate = true
        this.forms.main.permissions.users.areas.allSelected = false
      }
    },
    'forms.main.permissions.clients.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.clients.indeterminate = false
        this.forms.main.permissions.clients.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.clients.options_values.length) {
        this.forms.main.permissions.clients.indeterminate = false
        this.forms.main.permissions.clients.allSelected = true
      } else {
        this.forms.main.permissions.clients.indeterminate = true
        this.forms.main.permissions.clients.allSelected = false
      }
    },
    'forms.main.permissions.areas.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.areas.indeterminate = false
        this.forms.main.permissions.areas.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.areas.options_values.length) {
        this.forms.main.permissions.areas.indeterminate = false
        this.forms.main.permissions.areas.allSelected = true
      } else {
        this.forms.main.permissions.areas.indeterminate = true
        this.forms.main.permissions.areas.allSelected = false
      }
    },
    'forms.main.permissions.doc_types.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.doc_types.indeterminate = false
        this.forms.main.permissions.doc_types.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.doc_types.options_values.length) {
        this.forms.main.permissions.doc_types.indeterminate = false
        this.forms.main.permissions.doc_types.allSelected = true
      } else {
        this.forms.main.permissions.doc_types.indeterminate = true
        this.forms.main.permissions.doc_types.allSelected = false
      }
    },
    'forms.main.permissions.civil_status.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.civil_status.indeterminate = false
        this.forms.main.permissions.civil_status.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.civil_status.options_values.length) {
        this.forms.main.permissions.civil_status.indeterminate = false
        this.forms.main.permissions.civil_status.allSelected = true
      } else {
        this.forms.main.permissions.civil_status.indeterminate = true
        this.forms.main.permissions.civil_status.allSelected = false
      }
    },
    'forms.main.permissions.vehicle.selected' :function(newVal, oldVal) { 
      if (newVal.length === 0) {
        this.forms.main.permissions.vehicle.indeterminate = false
        this.forms.main.permissions.vehicle.allSelected = false
      } else if (newVal.length === this.forms.main.permissions.vehicle.options_values.length) {
        this.forms.main.permissions.vehicle.indeterminate = false
        this.forms.main.permissions.vehicle.allSelected = true
      } else {
        this.forms.main.permissions.vehicle.indeterminate = true
        this.forms.main.permissions.vehicle.allSelected = false
      }
    },
  },
  methods:{ 
    toggleAllPermissionsUsers (checked) {
      this.forms.main.permissions.users.selected = checked ? this.forms.main.permissions.users.options_values.slice() : []
    },
    toggleAllPermissionsUsersRoles (checked) {
      this.forms.main.permissions.users.roles.selected = checked ? this.forms.main.permissions.users.roles.options_values.slice() : []
    },
    toggleAllPermissionsUsersAreas (checked) {
      this.forms.main.permissions.users.areas.selected = checked ? this.forms.main.permissions.users.areas.options_values.slice() : []
    },
    toggleAllPermissionsClients (checked) {
      this.forms.main.permissions.clients.selected = checked ? this.forms.main.permissions.clients.options_values.slice() : []
    },
    toggleAllPermissionsAreas (checked) {
      this.forms.main.permissions.areas.selected = checked ? this.forms.main.permissions.areas.options_values.slice() : []
    },
    toggleAllPermissionsDocTypes (checked) {
      this.forms.main.permissions.doc_types.selected = checked ? this.forms.main.permissions.doc_types.options_values.slice() : []
    },
    toggleAllPermissionsCivilStatus (checked) {
      this.forms.main.permissions.civil_status.selected = checked ? this.forms.main.permissions.civil_status.options_values.slice() : []
    },
    toggleAllPermissionsVehicle (checked) {
      this.forms.main.permissions.vehicle.selected = checked ? this.forms.main.permissions.vehicle.options_values.slice() : []
    },
    validateSession:function(){
      var session = localStorage.getItem("session");
      if(session && session!="")return true;
      return false;
    },
    try_form:function(){
      var _this = this;  
      this.axios({
        url:url_server_user_roles+(_this.modal.form_action==1 ? '':('/'+_this.item_selected._id)),
        method:(_this.modal.form_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.main.name, 
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.form_action==1){
            _this.$swal(
              'Nuevo',
              'El registro ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El registro ha sido editado.',
              'success'
            );
          }
          _this.getLists();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.form_action==1){
          _tt = 'Nuevo';
          _msg = 'El registro no ha sido creado.';
        }else{
          _msg = 'El registro no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El registro ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        ); 
      }); 
    },
    getLists:function(){
      var _this = this;
      this.axios.get(url_server_user_roles,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = '';  
    },
    edit:function(item){
      this.modal.form_action=0; 
      this.forms.main.name = item.name;   
      this.item_selected = item;
    },
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_user_roles+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El registro ha sido eliminado.',
                  'success'
                );
                _this.getLists();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  
                  if(
                    responseData && 
                    responseData.responseJSON  
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){
                      window.location.assign("#/login");
                    }
                    
                  }
                  _this.$swal(
                    'Notificación',
                    'Error al intentar eliminar el registro seleccionado.',
                    'error'
                  ) 
              },
              complete: function() { 

              }
          });  
        // For more information about handling dismissals please visit
        // https://sweetalert2.github.io/#handling-dismissals
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
.btn-accordion-rol{
  background: #b3ffa0;
  color: #464545;
}
</style>
