<template>
  <b-container>
    <div id="reg-content">
      <b-modal id="modal_form" :title="modal.form_title" @ok="try_form()">
        <b-form-input v-model="forms.main.name"
          type="text"
          placeholder="Tus nombres" 
          style="margin-top:10px;"
        ></b-form-input>
        <b-form-input v-model="forms.main.email"
          type="email"
          placeholder="Tu email"
          style="margin-top:10px;"
        ></b-form-input>
        <b-form-input v-model="forms.main.password"
          type="password"
          placeholder="Tu contraseña"
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal>
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>
            <b-button 
              class="btn btn-light" 
              v-b-modal="'modal_form'" 
              @click="add()"
              >
              Nuevo
            </b-button>
          </th>
        </thead>
        <tbody v-if="lists.length>0">
          <tr v-for="(item,index) in lists">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>
              <b-button class="btn btn-primary" variant="primary" @click="edit(item)" v-b-modal="'modal_form'">
                <font-awesome-icon icon="edit"></font-awesome-icon>
              </b-button>
              <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="4">
              No registra usuarios
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Users',
  data () {
    return {
      msg: 'Listado de usuarios',
      lists:[ 
      ], 
      item_selected:null,
      modal:{
        add_title:"Nuevo registro",
        edit_title:"Editar registro",
        form_title:"Nuevo registro",
        form_action:1,//1:nuevo, 0: edit
      },
      forms:{
        main:{
          name:'',
          email:'',
          password:'',
        }
      }
    }
  },
  mounted:function(){
    if(!this.validateSession()){
      window.location.assign("#/login");
    }else{ 
      this.getLists();
    }
  },
  methods:{ 
    validateSession:function(){
      var session = localStorage.getItem("session");
      if(session && session!="")return true;
      return false;
    },
    try_form:function(){
        var _this = this;
      if(this.modal.form_action===1){
        this.axios.post(url_server_users,{
          name: _this.forms.main.name,
          email: _this.forms.main.email,
          password: _this.forms.main.password,
        },{ 
          headers:{
            'x-access-token':localStorage.getItem("session"),
          },
        }).then(
          function(response){
            console.log(response); 
            _this.getLists();
          }
        ).catch(function(err){
          console.log(err);
          console.log(err.response);
          console.log(err.status);
        }); 
      }else{
        var _this = this;
        var _data = {
          name: _this.forms.main.name,
          email: _this.forms.main.email,
          password: _this.forms.main.password,
        };
        /*this.axios.put(url_server_users+`/${this.item_selected._id}`,_data).then(
          function(response){
            console.log(response); 
          }
        ).catch(function(err){
          console.log(err);
        }); */
        jQuery.ajax({ 
            url: url_server_users+`/${this.item_selected._id}`,
            type: 'PUT', 
            headers:{
              'x-access-token':localStorage.getItem("session"),
            },
            dataType:'json',
            contentType:'application/json',
            data:JSON.stringify(_data), 
            success: function(res, status ,xhr){
              console.log(res,status,xhr);
              if(res.success){
                _this.$swal(
                  'Editado!',
                  'El registro ha sido editado.',
                  'success'
                )
                _this.getLists();
              }else{
                _this.$swal(
                  'Notificación',
                  'No se pudo editar el registro.',
                  'warning'
                )
              }
            },
            error: function (responseData, textStatus, errorThrown) {
              console.log(responseData,textStatus,errorThrown); 
              if(
                responseData && 
                responseData.responseJSON && 
                responseData.responseJSON.message=="invalid-token"
              ){
                window.location.assign("#/login");
              }
              _this.$swal(
                'Notificación',
                'Error al intentar editar el registro seleccionado.',
                'error'
              ) 
            },
            complete: function() { 

            }
        });  
      }
    },
    getLists:function(){
      var _this = this;
      this.axios.get(url_server_users,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    add:function(){
      this.modal.form_title = this.modal.add_title;
      this.modal.form_action=1;
      this.forms.main.name = ''; 
      this.forms.main.email = ''; 
      this.forms.main.password = ''; 
    },
    edit:function(item){
      this.modal.form_action=0;
      this.modal.form_title = this.modal.edit_title;
      this.forms.main.name = item.name; 
      this.forms.main.email = item.email; 
      this.forms.main.password = ''; 
      this.item_selected = item;
    },
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_users+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                if(res.success){
                  _this.$swal(
                    'Eliminado!',
                    'El registro ha sido eliminado.',
                    'success'
                  )
                  _this.getLists();
                }else{
                  _this.$swal(
                    'Notificación',
                    'No se pudo eliminar el registro.',
                    'warning'
                  )
                }
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  
                  if(
                    responseData && 
                    responseData.responseJSON && 
                    responseData.responseJSON.message=="invalid-token"
                  ){
                    window.location.assign("#/login");
                  }
                  _this.$swal(
                    'Notificación',
                    'Error al intentar eliminar el registro seleccionado.',
                    'error'
                  ) 
              },
              complete: function() { 

              }
          });  
        // For more information about handling dismissals please visit
        // https://sweetalert2.github.io/#handling-dismissals
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
</style>
