<template>
  <b-container>
    <div id="regs-content">
      <b-modal id="modal_form" ref='modal_form' :title="modal.form_action==1 ? modal.add_title : modal.edit_title" @ok="try_form()" @cancel="">
        <b-form-input @keyup.enter.native="try_form()" v-model="forms.main.name" 
          type="text"
          :placeholder="name_prop" 
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal>
      <b-modal id="modalB_form" :title="modal.formB_action==1 ? modal.addB_title : modal.editB_title" @ok="try_formB()" @cancel="">
        <b-form-input v-model="selected_row.vehicle_brand_name"
          type="text" 
          :disabled='true'
          style="margin-top:10px;"
        ></b-form-input> 
        <b-form-input @keyup.enter.native="try_formB()" v-model="forms.mainB.name"
          type="text"
          :placeholder="nameB_prop" 
          :disabled="selected_row.vehicle_brand==null" 
          style="margin-top:10px;"
        ></b-form-input> 
      </b-modal> 
      <b-container> 
        <b-row class="text-center">
            <b-col md="6"> 
              <table class="table table-hover">
                <thead>
                  <th>#</th>
                  <th>{{name_prop}}</th> 
                  <th>
                    <b-button 
                      class="btn btn-light" 
                      v-b-modal="'modal_form'" 
                      @click="add()"
                      >
                      Nuevo
                    </b-button>
                  </th>
                </thead> 
                <tbody v-if="lists.length>0">
                  <tr v-for="(item,index) in lists" @click='sel(item)' :class="{vehicle_brand_sel:selected_row.vehicle_brand && item._id==selected_row.vehicle_brand._id}">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td> 
                    <td>
                      <b-button class="btn btn-primary" variant="primary" v-b-modal="'modal_form'" @click="edit(item)" >
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                      </b-button>
                      <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="4">
                      No registra {{name_prop.toLowerCase()+'s'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col> 
            <b-col md="6">
              <table class="table table-hover">
                <thead>
                  <th>#</th>
                  <th>{{nameB_prop}}</th> 
                  <th>
                    <b-button 
                      class="btn btn-light" 
                      v-b-modal="'modalB_form'" 
                      @click="addB()"
                      >
                      Nuevo
                    </b-button>
                  </th>
                </thead> 
                <tbody v-if="listsB.length>0">
                  <tr v-for="(item,index) in listsB" @click='selB(item)' :class="{vehicle_model_sel:selected_row.vehicle_model && item._id==selected_row.vehicle_model._id}">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td> 
                    <td>
                      <b-button class="btn btn-primary" variant="primary" v-b-modal="'modalB_form'" @click="editB(item)" >
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                      </b-button>
                      <b-button class="btn btn-primary" variant="danger" @click="delB(item._id)">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="4">
                      No registra {{nameB_prop.toLowerCase()+'s'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col> 
        </b-row>
      </b-container>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Areas',
  data () {
    return {
      name_prop:"Marca",
      nameB_prop:"Modelo", 
      msg: 'Listado de marcas',
      msgB: 'Listado de modelos', 
      lists:[ 
      ], 
      listsB:[ 
      ],  
      item_selected:null,
      itemB_selected:null,
      itemC_selected:null,
      modal:{
        add_title:"Nuevo Marca",
        edit_title:"Detalle de Marca", 
        form_action:1,//1:nuevo, 0: edit
        addB_title:"Nueva Modelo",
        editB_title:"Detalle de Modelo", 
        formB_action:1,//1:nuevo, 0: edit 
      },
      forms:{
        main:{
          name:'', 
        },
        mainB:{
          name:'', 
        }, 
      },
      selected_row:{
        vehicle_brand:null,
        vehicle_model:null, 
        vehicle_brand_name:'',
        vehicle_model_name:'', 
      },
    }
  },
  mounted:function(){
    if(!this.validateSession()){
      window.location.assign("#/login");
    }else{ 
      this.getLists();
    }
  },
  methods:{ 
    validateSession:function(){
      var session = localStorage.getItem("session");
      if(session && session!="")return true;
      return false;
    },
    try_form:function(){
      var _this = this;  
      this.axios({
        url:url_server_vehicles_brand+(_this.modal.form_action==1 ? '':('/'+_this.item_selected._id)),
        method:(_this.modal.form_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.main.name, 
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.form_action==1){
            _this.$swal(
              'Nuevo',
              'La Marca ha sido creada.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'La Marca ha sido editada.',
              'success'
            );
          }
          _this.getLists();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formB_action==1){
          _tt = 'Nuevo';
          _msg = 'La Marca no ha sido creada.';
        }else{
          _msg = 'La Marca no ha sido editada.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'La marca ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        ); 
      }); 
    },
    try_formB:function(){
      var _this = this;  
      this.axios({
        url:url_server_vehicles_model+(_this.modal.formB_action==1 ? '':('/'+_this.itemB_selected._id)),
        method:(_this.modal.formB_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.mainB.name, 
          vehicle_brand_id:_this.selected_row.vehicle_brand._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.formB_action==1){
            _this.$swal(
              'Nuevo',
              'El modelo ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El modelo ha sido editado.',
              'success'
            );
          }
          _this.getListsB();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formB_action==1){
          _tt = 'Nuevo';
          _msg = 'El modelo no ha sido creado.';
        }else{
          _msg = 'El modelo no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El modelo ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        );
      }); 
    }, 
    getLists:function(){
      var _this = this;
      this.selected_row.vehicle_brand = null;
      this.selected_row.vehicle_model = null; 
      this.axios.get(url_server_vehicles_brand,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    getListsB:function(){
      var _this = this;
      if(!this.selected_row.vehicle_brand)return; 
      this.selected_row.vehicle_model = null;  
      this.axios.get(url_server_vehicles_model,{ 
        params:{
          vehicle_brand_id:this.selected_row.vehicle_brand._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.listsB = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    }, 
    sel:function(item){
      this.selected_row.vehicle_brand = item;
      this.selected_row.vehicle_brand_name = item.name;
      this.getListsB();
    },
    selB:function(item){
      this.selected_row.vehicle_model = item;
      this.selected_row.vehicle_model_name = item.name;
      this.getListsC();
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = '';  
    },
    addB:function(){ 
      this.modal.formB_action=1;
      this.forms.mainB.name = '';  
    }, 
    edit:function(item){
      this.modal.form_action=0; 
      this.forms.main.name = item.name;  
      this.item_selected = item;
    },
    editB:function(item){
      this.modal.formB_action=0; 
      this.forms.mainB.name = item.name;  
      this.itemB_selected = item;
    }, 
    delB:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_vehicles_model+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El modelo ha sido eliminado.',
                  'success'
                );
                _this.getListsB();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar el modelo.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  );
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    }, 
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_vehicles_brand+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'La Marca ha sido eliminado.',
                  'success'
                );
                _this.getLists();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar el departamento.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  ); 
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
.table-hover tbody tr.vehicle_brand_sel{
  background:#fff4a8;
}
.table-hover tbody tr.vehicle_model_sel{
  background:#ffd6a3;
} 
</style>
