<template>
  <b-container>
    <div id="regs-content">
      <b-modal id="modal_form" ref='modal_form' :title="modal.form_action==1 ? modal.add_title : modal.edit_title" @ok="try_form()" @cancel="">
        <b-form-input @keyup.enter.native="try_form()" v-model="forms.main.name" 
          type="text"
          :placeholder="name_prop"  
        ></b-form-input> 
      </b-modal>
      <b-modal id="modalB_form" v-model='modal.modalB' :title="modal.formB_action==1 ? modal.addB_title : modal.editB_title" @ok="try_formB()" @cancel="">
        <b-form-group 
          label="Concesionaria" 
        >
        <b-form-input v-model="selected_row.vehicle_conces_name"
          type="text" 
          :disabled='true' 
        ></b-form-input> 
        </b-form-group>
        <b-form-group 
          label="Local" 
        >
        <b-form-input @keyup.enter.native="try_formB()" v-model="forms.mainB.name"
          type="text"
          :placeholder="nameB_prop" 
          :disabled="selected_row.vehicle_conces==null"  
        ></b-form-input> 
        </b-form-group>
        <b-form-group 
          label="Jefe de tienda" 
        >
          <b-form-input @keyup.enter.native="try_formB()" v-model="forms.mainB.boss"
            type="text"
            placeholder="Jefe de tienda" 
            :disabled="selected_row.vehicle_conces==null"  
          ></b-form-input> 
        </b-form-group>

        <div class='content-sellters-table' v-if='selected_row.vehicle_conces_local'>
          <table class="table table-hover">
            <thead>
              <th>#</th>
              <th>Vendedor</th>  
              <th>
                  <b-button 
                    class="btn btn-light" 
                    v-b-modal="'modalC_form'" 
                    @click="addC()"
                    >
                    Nuevo
                  </b-button> 
              </th>
            </thead>
            <tbody v-if="listsC.length>0">
              <tr v-for="(seller,index) in listsC">
                <td>{{index+1}}</td>
                <td>{{seller.name}}</td> 
                <td style='min-width: 100px;'>
                  <b-button variant='primary' v-b-modal="'modalC_form'" @click='editC(seller)'>
                    <font-awesome-icon icon="edit"></font-awesome-icon>
                  </b-button> 
                  <b-button variant='danger' @click='delC(seller)'>
                    <font-awesome-icon icon="times"></font-awesome-icon>
                  </b-button>
                </td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td colspan="5">No existe vendedores</td>
              </tr>
            </tbody>
          </table>
        </div>
      </b-modal> 
      <b-modal 
        id="modalC_form" 
        ref='modalC_form' 
        :title="modal.formC_action==1 ? modal.addC_title : modal.editC_title" 
        @ok="try_formC()" 
        @cancel="modal.modalB=true" 
        :ok-title="modal.modalC_ok_title"
        :cancel-title="modal.modalC_cancel_title"
      >
        <b-form-group 
          label="Vendedor" 
        >
        <b-form-input @keyup.enter.native="try_formC()" v-model="forms.mainC.name" 
          type="text"
          :placeholder="nameC_prop"  
        ></b-form-input> 
        </b-form-group>
        <b-form-group id="sellerg_phone"
                  label="Teléfono"
                  label-for="seller_phone">
          <b-input-group prepend="">
            <b-form-input id="seller_phone" v-model="forms.mainC.phone"
              type="text"
              placeholder="Teléfono" 
              :disabled="selected_row.vehicle_conces_local==null"  
            ></b-form-input> 
            <b-input-group-append> 
              <b-btn variant="phone" v-b-tooltip title="Llamar" @click="callTo(1)">
                <font-awesome-icon icon="phone"></font-awesome-icon>
              </b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group> 
        <b-form-group  
                  label="Email" >
          <b-input-group prepend=""> 
            <b-form-input v-model="forms.mainC.email"
              type="email"
              placeholder="Email" 
              :disabled="selected_row.vehicle_conces_local==null"  
            ></b-form-input> 
            <b-input-group-append> 
              <b-btn variant="danger" v-b-tooltip title="Enviar correo" @click="mailTo(1)">
                <font-awesome-icon icon="envelope"></font-awesome-icon>
              </b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>  
        <b-form-group 
          label="% Comisión" 
        >
          <number-input v-model="forms.mainC.commission" :min="0" :max="100" inline controls></number-input> 
        </b-form-group>
        <b-form-group 
          label="Detalle adicional" 
        >
          <b-form-textarea 
                     v-model="forms.mainC.description"
                     placeholder="Detalle adicional"
                     :rows="3"
                     :max-rows="6">
    </b-form-textarea>
        </b-form-group>
      </b-modal>
      <b-container> 
        <b-row class="text-center">
            <b-col md="6"> 
              <table class="table table-hover">
                <thead>
                  <th>#</th>
                  <th>{{name_prop}}</th> 
                  <th>
                    <b-button 
                      class="btn btn-light" 
                      v-b-modal="'modal_form'" 
                      @click="add()"
                      >
                      Nuevo
                    </b-button>
                  </th>
                </thead> 
                <tbody v-if="lists.length>0">
                  <tr v-for="(item,index) in lists" @click='sel(item)' :class="{vehicle_conces_sel:selected_row.vehicle_conces && item._id==selected_row.vehicle_conces._id}">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td> 
                    <td>
                      <b-button class="btn btn-primary" variant="primary" v-b-modal="'modal_form'" @click="edit(item)" >
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                      </b-button>
                      <b-button class="btn btn-primary" variant="danger" @click="del(item._id)">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="4">
                      No registra {{name_prop.toLowerCase()+'s'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col> 
            <b-col md="6">
              <table class="table table-hover">
                <thead>
                  <th>#</th>
                  <th>{{nameB_prop}}</th> 
                  <th>
                    <b-button 
                      class="btn btn-light" 
                      v-b-modal="'modalB_form'" 
                      @click="addB()"
                      >
                      Nuevo
                    </b-button>
                  </th>
                </thead> 
                <tbody v-if="listsB.length>0">
                  <tr v-for="(item,index) in listsB" @click='selB(item)' :class="{vehicle_conces_local_sel:selected_row.vehicle_conces_local && item._id==selected_row.vehicle_conces_local._id}">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td> 
                    <td>
                      <b-button class="btn btn-primary" variant="primary" v-b-modal="'modalB_form'" @click="editB(item)" >
                        <font-awesome-icon icon="edit"></font-awesome-icon>
                      </b-button>
                      <b-button class="btn btn-primary" variant="danger" @click="delB(item._id)">
                        <font-awesome-icon icon="times"></font-awesome-icon>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="4">
                      No registra {{nameB_prop.toLowerCase()+'s'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col> 
        </b-row>
      </b-container>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'VehicleConces',
  data () {
    return {
      name_prop:"Concesionaria",
      nameB_prop:"Local", 
      nameC_prop:"Vendedor", 
      msg: 'Listado de concesionarias',
      msgB: 'Listado de locales', 
      msgC: 'Listado de vendedores', 
      lists:[ 
      ], 
      listsB:[ 
      ],  
      listsC:[ 
      ],  
      item_selected:null,
      itemB_selected:null,
      itemC_selected:null,
      modal:{
        add_title:"Nueva Concesionaria",
        edit_title:"Detalle de Concesionaria", 
        form_action:1,//1:nuevo, 0: edit
        addB_title:"Nuevo Local",
        editB_title:"Detalle de Local", 
        formB_action:1,//1:nuevo, 0: edit 
        modalB:false, 
        addC_title:"Nuevo Vendedor",
        editC_title:"Detalle de Vendedor", 
        formC_action:1,//1:nuevo, 0: edit 
        modalC_ok_title:'Ok', 
        modalC_cancel_title:'Cancel', 
      },
      forms:{
        main:{
          name:'', 
        },
        mainB:{
          name:'', 
          boss:'', 
        }, 
        mainC:{
          name:'',  
          phone:'',  
          email:'',  
          commission:100,  
          description:'',  
        }, 
      },
      selected_row:{
        vehicle_conces:null,
        vehicle_conces_local:null, 
        vehicle_conces_local_seller:null, 
        vehicle_conces_name:'',
        vehicle_conces_local_name:'', 
        vehicle_conces_local_seller_name:'', 
      },
    }
  },
  mounted:function(){
    if(!this.validateSession()){
      window.location.assign("#/login");
    }else{ 
      this.getLists();
    }
  },
  watch:{
    'forms.mainC.commission':function(new_val,old_val){
      if(new_val>100){
        this.forms.mainC.commission = 100;
      }
      if(new_val<0){
        this.forms.mainC.commission = 0;
      }
      console.log(new_val);
    },
  },
  methods:{ 
    callTo:function(pos){ 
      if(pos==1)window.open("tel://"+this.forms.mainC.phone,"_blank");
    },
    mailTo:function(pos){
      if(pos==1)window.open("mailto:"+this.forms.mainC.email,"_blank"); 
    },
    validateSession:function(){
      var session = localStorage.getItem("session");
      if(session && session!="")return true;
      return false;
    },
    try_form:function(){
      var _this = this;  
      this.axios({
        url:url_server_vehicle_conces+(_this.modal.form_action==1 ? '':('/'+_this.item_selected._id)),
        method:(_this.modal.form_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.main.name, 
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.form_action==1){
            _this.$swal(
              'Nuevo',
              'La Concesionaria ha sido creada.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'La Concesionaria ha sido editada.',
              'success'
            );
          }
          _this.getLists();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formB_action==1){
          _tt = 'Nuevo';
          _msg = 'La Concesionaria no ha sido creada.';
        }else{
          _msg = 'La Concesionaria no ha sido editada.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'La concesionaria ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        ); 
      }); 
    },
    try_formB:function(){
      var _this = this;  
      this.axios({
        url:url_server_vehicle_conces_local+(_this.modal.formB_action==1 ? '':('/'+_this.itemB_selected._id)),
        method:(_this.modal.formB_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.mainB.name, 
          boss: _this.forms.mainB.boss, 
          vehicle_conces_id:_this.selected_row.vehicle_conces._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.formB_action==1){
            _this.$swal(
              'Nuevo',
              'El local ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El local ha sido editado.',
              'success'
            );
          }
          _this.getListsB();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formB_action==1){
          _tt = 'Nuevo';
          _msg = 'El local no ha sido creado.';
        }else{
          _msg = 'El local no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El local ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        );
      }); 
    }, 
    try_formC:function(){
      var _this = this;  
      this.axios({
        url:url_server_vehicle_conces_local_seller+(_this.modal.formC_action==1 ? '':('/'+_this.itemC_selected._id)),
        method:(_this.modal.formC_action==1 ? 'POST':'PUT'),
        data:{
          name: _this.forms.mainC.name, 
          phone: _this.forms.mainC.phone, 
          email: _this.forms.mainC.email, 
          commission: _this.forms.mainC.commission, 
          description: _this.forms.mainC.description, 
          vehicle_conces_local_id:_this.selected_row.vehicle_conces_local._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        }, 
      }).then(
        function(response){
          console.log(response);
          if(_this.modal.formC_action==1){
            _this.$swal(
              'Nuevo',
              'El vendedor ha sido creado.',
              'success'
            );
          }else{
            _this.$swal(
              'Edición',
              'El vendedor ha sido editado.',
              'success'
            );
          }
          _this.modal.modalB = true;
          _this.getListsC();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        var _tt = 'Edición';
        var _msg = '';
        if(_this.modal.formC_action==1){
          _tt = 'Nuevo';
          _msg = 'El vendedor no ha sido creado.';
        }else{
          _msg = 'El vendedor no ha sido editado.';
        }
        if(
          err && 
          err.response && 
          err.response.data 
        ){
          if(err.response.data.message=="duplicated"){ 
            _msg = 'El vendedor ya existe.';
          }
        }
        _this.$swal(
          _tt,
          _msg,
          'warning'
        );
      }); 
    },
    getLists:function(){
      var _this = this;
      this.selected_row.vehicle_conces = null;
      this.selected_row.vehicle_conces_local = null; 
      this.axios.get(url_server_vehicle_conces,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.lists = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    getListsB:function(){
      var _this = this;
      if(!this.selected_row.vehicle_conces)return; 
      this.selected_row.vehicle_conces_local = null;  
      this.axios.get(url_server_vehicle_conces_local,{ 
        params:{
          vehicle_conces_id:this.selected_row.vehicle_conces._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.listsB = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    }, 
    getListsC:function(){
      var _this = this;
      if(!this.selected_row.vehicle_conces_local)return;  
      this.selected_row.area_c = null;
      this.axios.get(url_server_vehicle_conces_local_seller,{ 
        params:{
          vehicle_conces_local_id:this.selected_row.vehicle_conces_local._id,
        },
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          console.log(response);
          _this.listsC = response.data;
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
      }); 
    },
    sel:function(item){
      this.selected_row.vehicle_conces = item;
      this.selected_row.vehicle_conces_name = item.name;
      this.getListsB();
    },
    selB:function(item){
      this.selected_row.vehicle_conces_local = item;
      this.selected_row.vehicle_conces_local_name = item.name;
      this.getListsC();
    },
    add:function(){ 
      this.modal.form_action=1;
      this.forms.main.name = '';  
    },
    addB:function(){ 
      this.selected_row.vehicle_conces_local = null;
      this.modal.formB_action=1;
      this.forms.mainB.name = '';  
      this.forms.mainB.boss = '';  
      this.listsC.splice(0,this.listsC.length);
    }, 
    addC:function(){ 
      this.modal.formC_action=1;
      this.forms.mainC.name = '';  
    },
    edit:function(item){
      this.modal.form_action=0; 
      this.forms.main.name = item.name;  
      this.item_selected = item;
    },
    editB:function(item){
      this.modal.formB_action=0; 
      this.forms.mainB.name = item.name;  
      this.itemB_selected = item;
    }, 
    editC:function(item){ 
      this.modal.formC_action=0; 
      this.forms.mainC.name = item.name;  
      this.forms.mainC.phone = item.phone;  
      this.forms.mainC.email = item.email;  
      try{
        this.forms.mainC.commission = item.commission && item.commission!='' ? window.parseInt(item.commission) : 0;  
      }catch(e){
        this.forms.mainC.commission = 0;
      }
      this.forms.mainC.description = item.description;  
      this.itemC_selected = item;
    },
    delB:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id,
            session: localStorage.getItem('session'),
          }; 
          jQuery.ajax({ 
              url: url_server_vehicle_conces_local+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El local ha sido eliminado.',
                  'success'
                );
                _this.getListsB();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar el local.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  );
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    }, 
    delC:function(item){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:item._id, 
          }; 
          jQuery.ajax({ 
              url: url_server_vehicle_conces_local_seller+`/${item._id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El vendedor ha sido eliminado.',
                  'success'
                );
                _this.getListsC();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar el vendedor.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  );
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
    del:function(_id){
      var _this = this;
      this.$swal({
        title: 'Seguro de eliminar?',
        text: 'No se podrá recuperar el registro',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Eliminar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {

          var _data = {
            id:_id, 
          }; 
          jQuery.ajax({ 
              url: url_server_vehicle_conces+`/${_id}`,
              headers:{
                'x-access-token':localStorage.getItem("session"),
              },
              type: 'DELETE', 
              dataType:'json',
              contentType:'application/json',
              data:JSON.stringify(_data), 
              success: function(res, status ,xhr){
                console.log(res,status,xhr);
                _this.$swal(
                  'Eliminado!',
                  'El departamento ha sido eliminado.',
                  'success'
                );
                _this.getLists();
              },
              error: function (responseData, textStatus, errorThrown) {
                console.log(responseData,textStatus,errorThrown);
                  var _msg = 'Error al intentar eliminar el registro seleccionado.';
                  if(
                    responseData && 
                    responseData.responseJSON 
                  ){
                    if(responseData.responseJSON.message=="invalid-token"){ 
                      window.location.assign("#/login");
                    }
                    if(responseData.responseJSON.message=="refused"){ 
                      _msg = 'No se puede eliminar el departamento.';
                    }
                  }
                  _this.$swal(
                    'Notificación',
                    _msg,
                    'error'
                  ); 
              },
              complete: function() { 

              }
          });   
        } else if (result.dismiss === _this.$swal.DismissReason.cancel) {
          _this.$swal(
            'Cancelado',
            'La solicitud fue cancelada',
            'error'
          )
        }
      });
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table{
  text-align: center;
}
.table-hover tbody tr.vehicle_conces_sel{
  background:#fff4a8;
}
.table-hover tbody tr.vehicle_conces_local_sel{
  background:#ffd6a3;
}  
.btn-phone{
  background: #5bc717;
  color: white;
}

.btn-email-active{
  background: #28a745;
  color: white;
}
.btn-email-inactive{
  background: rgb(159, 243, 178);
  color: white;
}
</style>
