<template>
  <div id="app"> 
    <b-navbar toggleable="md" type="light" variant="light" v-if="navbar_visible">
      <b-container>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-navbar-brand href="#">Proyecto</b-navbar-brand>

        <b-collapse is-nav id="nav_collapse"> 

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
   

            <b-nav-item-dropdown text="Enlaces" right>
              <b-dropdown-item href="#/users">Usuarios</b-dropdown-item> 
              <b-dropdown-item href="#/userroles">Usuarios Roles</b-dropdown-item> 
              <b-dropdown-item href="#/userarea">Usuarios Area</b-dropdown-item> 
              <b-dropdown-item href="#/clients">Clientes</b-dropdown-item> 
              <b-dropdown-item href="#/areas">Areas</b-dropdown-item> 
              <b-dropdown-item href="#/tipodoc">Tipo Doc</b-dropdown-item> 
              <b-dropdown-item href="#/civilstatus">Estado Civil</b-dropdown-item> 
              <b-dropdown-item href="#/vehicles">Vehículos</b-dropdown-item> 
              <b-dropdown-item href="#/vehicleclass">Vehículos clases</b-dropdown-item> 
              <b-dropdown-item href="#/vehicleuse">Vehículos usos</b-dropdown-item> 
              <b-dropdown-item href="#/vehicleprovgps">Vehículos prov Gps</b-dropdown-item> 
              <b-dropdown-item href="#/vehicleconces">Vehículos Concesionarias</b-dropdown-item> 
              <b-dropdown-item href="#/vehicleprod">Vehículos Productos</b-dropdown-item> 
              <b-dropdown-item href="#/policyend">Pólizas Endosatarios</b-dropdown-item> 
              <b-dropdown-item href="#/policyinsurancecarrier">Pólizas Aseguradoras</b-dropdown-item> 
              <b-dropdown-item href="#/policyvehcover">Pólizas Vehicular Coberturas</b-dropdown-item> 
              <b-dropdown-item href="#/policyvehstatusquota">Pólizas Vehicular Estado de Cupón</b-dropdown-item>  
              <b-dropdown-item href="#/policyvehreasoncancel">Pólizas Vehicular Mótivos de Anulación</b-dropdown-item> 
              <b-dropdown-item href="#/policyhealthstatusquota">Pólizas Salud Estado de Cupón</b-dropdown-item>
              <b-dropdown-item href="#/policyhealthreasoncancel">Pólizas Salud Mótivos de Anulación</b-dropdown-item> 
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right>
              <!-- Using button-content slot -->
              <template slot="button-content">
                <em>User</em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item href="#" @click="logout()">Signout</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>

        </b-collapse>
      </b-container>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      navbar_visible:false,
    };
  },
  methods:{
    logout:function(){
      
      var _this = this;
      this.axios.get(url_server_logout,{ 
        headers:{
          'x-access-token':localStorage.getItem("session"),
        },
      }).then(
        function(response){
          if(response.data.success){
            window.location.assign("#/login");
          }
          console.log(response);
          //localStorage.removeItem("session");
          //window.location.reload();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        localStorage.removeItem("session");
        if(err.response.data && err.response.data.success){
          window.location.assign("#/login");
        }
      }); 
    }
  },
  mounted:function(){
    this.$router.lastRoute = this.$router.currentRoute;
    if(this.$router.currentRoute.path=="/"){
      window.location.assign("#/home");
    } 
    if(this.$router.currentRoute.path!="/login"){
      this.navbar_visible = true;
    }
    var session = localStorage.getItem("session");
    if(session && session!=""){ 
      var _this = this;
      this.axios.get(url_server_verify_token,{ 
        headers:{
          'x-access-token':session,
        },
      }).then(
        function(response){
          console.log(response);
          if(response.status!==200){ 
            console.log("token expired: "+session);
            localStorage.removeItem("session");
            if(_this.$router.currentRoute.path!="/login"){
              window.location.assign("#/login");
            }
          }else{
            var _flag = false;
            if(response.data && response.data.success){
              if(_this.$router.lastRoute){
                if(
                  _this.$router.lastRoute.path!='/home' && 
                  _this.$router.lastRoute.path!='/login' && 
                  _this.$router.lastRoute.path!='/logout'  
                ){
                  _flag = true;
                  window.location.assign("#"+_this.$router.lastRoute.path);
                }
              } 
              if(!_flag){
                window.location.assign("#/home");
              }
            }
          }
          //localStorage.removeItem("session");
          //window.location.reload();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        localStorage.removeItem("session");
        if(err && err.response && err.response.data && err.response.status!==200){
          window.location.assign("#/login");
        }
      }); 
    }else{
      if(this.$router.currentRoute.path!="/login"){
        window.location.assign("#/login");
      }
    }
  },
  watch:{
    $route (to, from){
      console.log("change router to: ",to);
      console.log("change router from: ",from);
      this.$router.lastRoute = from;
      if(to.path!="/login"){
        var session = localStorage.getItem("session");
        if(!session || session==""){
          window.location.assign("#/login");
        }
      } 
    }
  } 
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  color: #2c3e50; 
}
</style>
